
<% content_for :fb_meta_tags do %>
  <meta property="og:type" content="<%= "#{ENV['FACEBOOK_APP_NAMESPACE']}:list" %>" />
  <meta property="og:title" content="<%= resource.name %>" />
  <meta property="og:description" content="<%= resource.facebook_description %>" />
<% end %>
<script src="http://maps.googleapis.com/maps/api/js?v=3&libraries=geometry&sensor=true" type="text/javascript"></script>

<div id="list-header-outter-container">
  <div id="list-header-container">
  
    <div id="user-image">
      <%= image_tag "6df1b47ff48b7258264ec5fe9daf8e7e.jpeg" %>
    </div>
    <h4 id="list-creator">a list created by <%= resource.user.first_name %></h4>
    
    <div class="list-hr">
    </div>
    
    <h2 id="list-name"><%= resource.name %></h2>
    
    <div id="list-description-container">
      <p id="list-description">
        <%= resource.description %>
      </p>
    </div>
    
    <div class="social-container">

      <% if current_user && current_user.liked_lists.include?(resource) %>
        <%= link_to remove_vote_list_path, class: "action like-button green" do %>
          <span>liked</span>
        <% end %>
      <% else %>
        <%= link_to upvote_list_path, class: "action like-button blue" do %>
          <span>like this list</span>
        <% end %>
      <% end %>

      <div class="action like-count"><%= pluralize(resource.list_likes.count, "like") %></div>
    </div>
    
    <p id="list-dates">
      <span id="list-created-at">created <%= resource.created_at.strftime("%B %d, %Y") %></span>
      <span id="list-updated-at">last updated <%= time_ago_in_words(resource.updated_at) %> ago</span>
    </p>
  
  </div>
</div>
<div id="list-venues-container" class="<%= 'owner' if current_user.id == resource.user.id if current_user %>">
  <h3><span><%= pluralize(resource.venues.count, "place") %></span></h3>
  <% unless resource.venues.empty? %>
    <% resource.venues.each_with_index do |venue, i| %>
      <div class="list-venue-container">
          <div class="venue-index-container">
            <%= i+1 %>
            <%= link_to( '+', {:controller => 'lists', :action => 'remove', :id => resource.id, :venue_id => venue.id}, {:method => :put} ) if current_user.id == resource.user.id if current_user %>
          </div>
          <div class="venue-info">
            <%= link_to venue.name, venue, class: "venue-name" %>
            <p class="venue-categories"><%= venue.venue_category.name %><% if venue.venue_subcategory %>  &#903;  <%= venue.venue_subcategory.name %><% end %></p>
          </div>

        <%= render 'shared/pie_graph', type: "map", score: venue.score, animate: true  %>

      </div>
    <% end %>
  <% end %>
</div>

<% unless resource.venues.empty? %>

  <!-- BEGIN MAP MODULE -->
  <div class="list-map-container" id="search-results-map"></div>

<% else %>
  <div class="empty-container">
    <div class="center-absolute">
      
      <div class='cs-logo'></div>
      <div class="add-msg">There are no venues in this list</div>

    </div>
  </div>
<% end %>



<!-- BEGIN MORE LISTS BY USER MODULE -->

<% if resource.user.lists.length > 1  %>
  <div id="more-lists-by-user-outter-container">
    <div id="more-lists-by-user-container">
      
      <h3 id="more-lists-by-user-header">More Lists From <%= resource.user.first_name %></h3>
      
      <div id="more-lists-by-user-carousel-container">
      
      
        <% resource.user.lists.by_recent.take(3).each do |l| %>
        
          <!-- BEGIN LIST CARD CODE -->
          <% unless resource == l %>
          
            <div class="list-preview-card <% if resource.user.lists.count < 2%>no-margin-card<%end%>">
              <h3 class="list-preview-card-list-name"><%= link_to l.name, l %></h3>
              <p class="list-preview-card-list-description">
                <%= l.description %>
              </p>
              
              <div class="list-preview-card-venue-list">
                <% if l.venues.empty? %>
                  <p>No venues in this list yet.</p>
                <% else %>
                  <!-- BEGIN LOOP TO DISPLAY PREVIEW VENUES FOR LIST -->
                  <% preview_card_venues(l).each_with_index do |v, i| %>
                    <div class="list-preview-card-venue">
                      <span class="list-preview-card-venue-number"><%= i+1 %></span>
                      <span class="list-preview-card-venue-name">
                        <%= link_to truncate(v.name, length: 28, separator: ' ', omission: '...'), v %>
                      </span>
                    </div>
                  <% end %>
                  <!-- END LOOP TO DISPLAY PREVIEW VENUES FOR LIST -->            
                <% end %>

              </div>
             
              <p class="see-all-venues-link"><%= link_to "SEE ALL #{pluralize(l.venues.count, "VENUE")}", l %></p>
              <div class="list-preview-card-timestamp-likes">
                <span class="list-preview-card-timestamp"><%= time_ago_in_words(l.updated_at) %> ago</span>
                <span class="list-preview-card-likes"><%= l.list_likes_count %></span>
              </div>
             
            </div>
          <% end %>
        <% end %>
        <!-- END LIST CARD CODE -->
        
              
      </div>
    </div>
  </div>
<% end %>  
<!-- END MORE LISTS BY USER MODULE -->

<script type="text/javascript">
  $(document).ready(function(){
    google.maps.event.addDomListener(window, 'load', function(){
      map = new Gmap(<%= raw @json %>);
    });
  })
</script>

<% if resource.user == current_user %>
  <%# link_to "&laquo; Back to my Lists".html_safe, lists_path %>
<% end %>