<h1>Welcome, <%= session["devise.facebook_data"]["info"]["first_name"] %>!</h1>


<p>We got your name, email, and location from Facebook. Now just pick a username, password, and make sure this is the email you want to use.</p>
<%= devise_error_messages! %>

<%= form_for resource do |f| %>
  <%= f.text_field :username, placeholder: "username", class: "small-blue-text-field" %><br>
  <%= f.text_field :password, placeholder: "password", class: "small-blue-text-field" %><br>
  <%= f.password_field :password_confirmation, placeholder: "confirm your password", class: "small-blue-text-field" %><br>
  <%= f.password_field :email, placeholder: "username", class: "small-blue-text-field" %><br>
  <%= f.text_field :email, placeholder: "email", class: "small-blue-text-field" %><br>
  
  <%= f.button :submit %>
<% end %>