<div id="edit-user-inner-page-container">

  <%= devise_error_messages! %>
  
  <div id="edit-user-header">
    <div class="obj-rounded-image-wrapper">
      <img src="<%= current_user.image_url.to_s %>">
    </div>
    <p><%= current_user.full_name %></p>
  </div>
  
  <h2 id="edit-user-form-header">Manage my account</h2>
  
  <% if resource.facebook_id? %>
    <p class="facebook-connected">Your Facebook account is connected to your Crowdscore account.</p>
  <% else %>
    <p class="facebook-not-connected">For easier logins, you can connect your Facebook account to your Crowdscore account by <%= link_to "clicking here", user_omniauth_authorize_path(:facebook) %>.</p>
  <% end %>

  <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, class: "p-clearfix form-stacked" } do |f| %>
    
    <span id="required-field-key"><p class="required">* REQUIRED FIELDS</p></span><br>
    
    <%= render partial: 'form', locals: { f: f } %>
    
    
      <div id="user-form-save-updates-container">
        <button class="btn-main btn-main-fixed">save account updates</button><br>
      </div>
    
  <% end %>
  
  <div id="user-form-cancel-account-container">
    
    <p>If you've decided it's time to part ways, we'll be sad to see you go, but you can cancel your account through the link below. Make sure you mean it, we won't be able to recover your account aftewards.
    <%= link_to "I've decided, cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>
    </p>
  </div>

</div>
