<%= render partial: 'admin/subnav' %>

<%= form_for resource, :url => admin_featured_venue_path(resource) do |f| %>

  <%= f.label "Crowdscore Venue ID" %><br>
  <%= f.text_field :venue_id %><br>
  
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  
  <%= f.label "Recommending user id" %></br>
  <%= f.text_field :user_id %></br>
  
  <%= f.label :city %><br>
  <%= f.text_field :city %><br>
  
  <%= f.label :state %><br>
  <%= f.text_field :state %><br>
  
  <%= f.label :active %><br>
  <%= f.check_box :active %></br>
  
  <%= f.hidden_field :key %>
  
  <%= f.submit %>

<% end %>

<h2>Add a photo</h2>

<%= direct_upload_form_for @uploader do |f| %>
  <%= f.file_field :featured_venue_image %>
  <%= f.submit %>
<% end %>