<h1>User Profile</h1>

<h4><%= resource.first_name.titleize %></h4>

<h4>Also known as <%= resource.username %></h4>

<h4>Joined the crowd in <%= resource.created_at.strftime("%b '%y") %>

<% if !resource.home_city.blank? || !resource.home_state.blank? %>
<h4>From 
	<% unless !resource.home_city.nil? %>
	  <%= resource.home_city %>, 
	<% end %>
	<% unless !resource.home_state.nil? %>
	  <%= resource.home_state %>
	<% end %>
</h4>
<% end %>

<% if resource.twitter_username %>
  <h4>
    <%= link_to resource.twitter_username, "http://twitter.com/#{resource.twitter_username}", target: "_blank" %>
  </h4>
<% end %>


<% if user_signed_in? && current_user == resource %>
  <%= link_to "this is you", "#" %>
<% elsif user_signed_in? && current_user.follows?(resource) %>
  <!-- storing original route helper for reference "unfollow_user_path(resource)" -->
  <%= link_to "&#x2713; following".html_safe, "/users/#{resource.id}/unfollow", method: :delete %>
<% else %>
  <!-- storing original route helper for reference "follow_user_path(resource)" -->
  <%= link_to "follow", "/users/#{resource.id}/follow", method: :post %>
<% end %>

<h4>Karma</h4>
<%= resource.points %>

<h4>Followers</h4>
<%= resource.followers.count %>

<h4>Scores submitted</h4>
<%= resource.venue_scores.count %>

<h4>Tips posted</h4>
<%= resource.tips.count %>

<h4>Average score given</h4>
<p><%= resource.average_score %><% unless resource.venue_scores.empty? %><br>
(based on <%= resource.venue_scores.count %> score)
<% end %></p>

<h4>Highest score given</h4>
<p><%= resource.highest_score %><% unless resource.highest_score_venue.nil? %> at <%= link_to resource.highest_score_venue.name, resource.highest_score_venue %><% end %></p>

<h4>Lowest score given</h4>
<p><%= resource.lowest_score %><% unless resource.lowest_score_venue.nil? %> at <%= link_to resource.lowest_score_venue.name, resource.lowest_score_venue %><% end %></p>

<h4>Recent Activity</h4>
<% activity = resource.recent_activity %>
<% if activity.empty? %>
  <p>No recent activity by <%= resource.first_name %>.</p>
<% else %>
  <% activity.each do |a| %>
    <% if a.class == VenueScore %>
      <p>Posted a score of <%= a.computed_score %> to <%= link_to Venue.find(a.venue_id).name, Venue.find(a.venue_id) %>.</p><br>
    <% elsif a.class == Tip %>
      <p>Posted a tip to <%= link_to Venue.find(a.venue_id).name, Venue.find(a.venue_id) %>.<br>
      "<%= a.text %>"</p>
    <% end %>
  <% end %>
<% end %>
