<!-- BEGIN LEFT RAIL -->


<div id="inner-page-container">
  
  <div id="user-profile-left-rail-container">
    
    <div id="outter-user-stats-container">
      <div id="user-photo-container">
        photo will go here
      </div>
      <div id="inner-user-stats-container">
        <div class="stat-row">
          <div class="stat-wrap"><span class="stat-count"><%= resource.points %></span><span class="stat-label">KARMA</span></div>
        </div>
        <div class="stat-row">
          <div class="stat-wrap"><span class="stat-count"><%= resource.followers.count %></span><span class="stat-label">FOLLOWERS</span></div>
        </div>
        <div class="stat-row">
          <div class="stat-wrap"><span class="stat-count"><%= resource.venue_scores.count %></span><span class="stat-label">SCORES SUBMITTED</span></div>
        </div>
        <div class="last-stat-row">
          <div class="last-stat-wrap"><span class="stat-count"><%= resource.tips.count %></span><span class="stat-label">TIPS POSTED</span></div>
        </div>
      </div>
    </div>
    
    <div id="outter-user-scores-container">
      <div id="inner-user-scores-container">
        <div class="score-row">
          <div class="score-wrap">
          <span class="<%= highest_score_class(resource) %>"><%= resource.highest_score %></span><span class="stat-label">HIGHEST SCORE GIVEN</span>
          </div>
        </div>
        <div class="score-row">
          <div class="score-wrap">
          <span class="<%= average_score_class(resource) %>"><%= resource.average_score %></span><span class="stat-label">AVERAGE SCORE GIVEN</span>
          </div>
        </div>
        <div class="score-row">
          <div class="last-score-wrap">
          <span class="<%= lowest_score_class(resource) %>"><%= resource.lowest_score %></span><span class="stat-label">LOWEST SCORE GIVEN</span>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
<!-- END LEFT RAIL -->

<!-- BEGIN RIGHT RAIL -->

  <div id="user-profile-right-rail-container">
    
    <div id="outter-user-detail-container">
      <div id="user-name-container">
        <h1><%= resource.first_name.titleize %></h1>
      </div>
      <div id="user-profile-details-container">
          <p><span class="user-profile-detail-label">Known as:</span>
          <span class="user-profile-detail-data"><%= resource.username %></span></p><br>
          <p><span class="user-profile-detail-label">Joined the crowd in:</span>
          <span class="user-profile-detail-data"><%= resource.created_at.strftime("%B %Y") %></span></p><br>
          <% unless no_location(resource) %>
            <p><span class="user-profile-detail-label">From:</span>
            <span class="user-profile-detail-data">
              <%= user_full_location(resource) %>
            </span></p><br>
          <% end %>
          <% unless resource.twitter_username.nil? || resource.twitter_username.empty? %>
            <p><span class="user-profile-detail-label">Tweets from:</span>
            <span class="user-profile-detail-data"><%= link_to resource.twitter_username, resource.twitter_link %></span></p><br>
          <% end %>
          <% unless resource.bio.nil? || resource.bio.empty? %>
            <p><span class="user-profile-detail-label">Bio:</span>
            <span class="user-profile-detail-data"><%= resource.bio %></span></p><br>
          <% end %>
          <div id="follow-user-button">
            <% if user_signed_in? && current_user == resource %>
              <p class="follow-button-text">THIS IS YOU!</p>
            <% elsif user_signed_in? && current_user.follows?(resource) %>
              <%= link_to "&#x2713; FOLLOWING".html_safe, "/users/#{resource.id}/unfollow", method: :delete %>
            <% else %>
              <%= link_to "FOLLOW", "/users/#{resource.id}/follow", method: :post %>
            <% end %>
          </div> 
      </div>
    </div>
    
    <div id="user-profile-recent-activity-container">
      <div id="recent-activity-header-container">
        <h3>Recent Activity</h3>
      </div>
      <div id="user-profile-activity-stream-container">
        <% resource.recent_activity.each do |a| %>
          <div class="recent-activity-stream-row">
            <div class="activity-stream-inner-container">
              <div class="activity-icon-container <%= a.class %>-icon">
              </div>
              <p class="activity-content">
                <% if a.class == VenueScore %>
                  <span class="activity-copy">Gave a score of <%= a.computed_score %> to <%= link_to Venue.find(a.venue_id).name, Venue.find(a.venue_id) %></span><br>
                  <span class="activity-timestamp"><%= time_ago_in_words(a.created_at) %> ago</span>
                <% end %>
                <% if a.class == List %>
                  <span class="activity-copy">Created a list called <%= link_to a.name, a %></span><br>
                  <span class="activity-timestamp"><%= time_ago_in_words(a.created_at) %> ago</span>
                <% end %>
                <% if a.class == Tip %>
                  <span class="activity-copy">Posted a tip to <%= link_to a.venue.name, a.venue %></span><br>
                  <span class="activity-timestamp"><%= time_ago_in_words(a.created_at) %> ago</span>
                <% end %>
              </p>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  
  </div>
  <!-- END RIGHT RAIL -->
  
  <span style="clear: both"></span>
  

</div>
<!-- BEGIN USER LISTS MODULE -->
<div id="user-profile-lists-container">
    
    <h2 id="user-profile-lists-header"><%= resource.first_name %>'s Lists</h2>
    
    <div id="user-profile-lists-carousel-container">
    
    <% if resource.lists.empty? %>
      <p>Empty list state</p>
    <% else %>
      <% resource.lists.by_recent.each do |l| %>
      
      
      <!-- BEGIN LIST CARD CODE -->
      <div class="list-preview-card <% if resource.lists.count < 2%>no-margin-card<%end%>">
        <h3 class="list-preview-card-list-name"><%= link_to l.name, l %></h3>
        <p class="list-preview-card-list-description">
          <%= l.description %>
        </p>
        
        <div class="list-preview-card-venue-list">
          <% if l.venues.empty? %>
            <p>No venues in this list yet.</p>
          <% else %>
            <!-- BEGIN LOOP TO DISPLAY PREVIEW VENUES FOR LIST -->
            <% preview_card_venues(l).each_with_index do |v, i| %>
              <div class="list-preview-card-venue">
                <span class="list-preview-card-venue-number"><%= i+1 %></span>
                <span class="list-preview-card-venue-name">
                  <%= link_to truncate(v.name, length: 28, separator: ' ', omission: '...'), v %>
                </span>
              </div>
            <% end %>
            <!-- END LOOP TO DISPLAY PREVIEW VENUES FOR LIST -->            
          <% end %>
        </div>
       
        <p class="see-all-venues-link">SEE ALL <%= link_to pluralize(l.venues.count, "VENUE"), l %></p>
        <div class="list-preview-card-timestamp-likes">
          <span class="list-preview-card-timestamp"><%= time_ago_in_words(l.updated_at) %> ago</span>
          <span class="list-preview-card-likes"><%= l.list_likes_count %></span>
        </div>
       
        </div>
      <% end %>
    <!-- END LIST CARD CODE -->
      
            

    </div>
      <% end %>  
  </div>
  <!-- END USER LISTS MODULE -->





