<div id="forgot-password-header-container">
  <h2 class="forgot-password-header">Forgot your password?</h2>
  <p class="standard-body-copy">No problem. Provide your email or username below and we'll send you instructions to get back in.</p>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  
  <p><%= f.label :email, class: "standard-form-field-label" %>
  <%= f.text_field :email, class: "forgot-password-form-field" %></p>

  <br>
  <p><%= f.submit "Send me instructions", class: "standard-blue-button" %></p>
<% end %>


<!-- PARTIAL BELOW RENDERS LIST OF POSSIBLE USER AND SESSION LINKS

<% #render :partial => "devise/shared/links" %> 
-->