<div id="homepage">
	<div class="search-hero">
		<div class="search-container">
			<h1>What are you in the mood for?</h1>

			<%= form_tag search_venues_path, method: "get", class: "search-form" do |f| %>
				<%= text_field_tag :q, "", class: "search-query", placeholder: "Search by restaurant name or cuisine", tabindex: 5 %>
				<%= text_field_tag :zip, "", class: "search-location", placeholder: "City or Zip Code", tabindex: 6 %>
				<input type="submit" value="Search">
			<% end %>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem. Sed ut perspiciatis.</p>

			<a href="#">Learn More</a>
		</div>
	</div>

	<section class="info-spread two f-center">
		<div class="section-two">
			<div class="column">
				<div class="centered">
					<h3>Tips You Want</h3>
					<hr>
					<p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, to.</p>
				</div>
			</div>
			<div class="column middle"><p class="main-spread-font">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant dolorem qulaudantium, totam rem aperiam, eaque.</p></div>
			<div class="column">
				<div class="centered">
					<h3>Better Ratings</h3>
					<hr>
					<p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, to.</p>
				</div>
			</div>
		</div>
	</section>

	<div class='recommendation-module venue_page_recommendations'>
	  <div class='recommendation-module-body'>
	    <div class="module-left"></div>
	    <div class="module-right"></div>

	    <div class='recommendation-header'>
	      <h2>Late night eats</h2>
	      <p class="description">It's Friday  night. Time for an evening snack.</p>
	    </div>

	    <!-- START DYNAMIC RECOMMENDATION CARDS -->
	    
	    <div class="recommendation-module-cards">
	      <div class='recommendation-card populated'>
	        <div class="image">
	          <img src="http://discovermilton.com/wp-content/uploads/2013/03/Pasta_mabo06_morguefile.jpg">
	        </div>
	        
	        <div class="score-container">
	          <%= render 'shared/pie_graph', type: "dashboard-score", score: 80, animate: true  %>
	        </div>

	        <div class="stats">
	          <span>30 scores</span>
	          <span>55 tips</span>
	        </div>

	        <div class="info">
	          <h4>Bubby's Awesome Southern Food</h4>
	          <p>
	            <span>0.2 miles</span>
	            <span>brooklyn</span>
	          </p>
	        </div>
	      </div>

	      <div class='recommendation-card empty'>
	        <div class="score-container">
	          <%= render 'shared/pie_graph', type: "dashboard-score", score: 80, animate: true  %>
	        </div>

	        <div class="stats">
	          <span>30 scores</span>
	          <span>55 tips</span>
	        </div>

	        <div class="info">
	          <h4>Bubby's Awesome Southern Food</h4>
	          <p>
	            <span>0.2 miles</span>
	            <span>brooklyn</span>
	          </p>
	        </div>
	      </div>

	      <div class='recommendation-card populated'>
	        <div class="image">
	          <img src="http://media.tumblr.com/ff8c5067ad9eae074a45ab22ef6924a4/tumblr_inline_mfg6unsLPg1qhyx80.jpg">
	        </div>
	        <div class="score-container">
	          <%= render 'shared/pie_graph', type: "dashboard-score", score: 80, animate: true  %>
	        </div>

	        <div class="stats">
	          <span>30 scores</span>
	          <span>55 tips</span>
	        </div>

	        <div class="info">
	          <h4>Bubby's Awesome Southern Food</h4>
	          <p>
	            <span>0.2 miles</span>
	            <span>brooklyn</span>
	          </p>
	        </div>
	      </div>

	      <div class='recommendation-card empty'>
	        <div class="score-container">
	          <%= render 'shared/pie_graph', type: "dashboard-score", score: 80, animate: true  %>
	        </div>

	        <div class="stats">
	          <span>30 scores</span>
	          <span>55 tips</span>
	        </div>

	        <div class="info"> 
	          <h4>Bubby's Awesome Southern Food</h4>
	          <p>
	            <span>0.2 miles</span>
	            <span>brooklyn</span>
	          </p>
	        </div>
	      </div>
	      <div style='width: 100px; height: 299px; visibility: hidden'>s</div>
	    </div>
	  </div>
	</div>

	<% get_new_restaurant_features %>
	<%= render 'new_restaurant' if @new_restaurant %>
	
	
	<!-- THIS IS WHERE I TOOK THE NEW RESTAURANT VIEW CODE FROM -->
	
	

		<div class="list-container">
			<div class="list-images">
				<div class="list-image"></div>
				<div class="list-venue-count"><div>54</div></div>
				<div class="list-image"></div>
			</div>
			<h5>Jason's List</h5>
			<hr />
			<h3>Creme de la SF</h3>
			<p>The hottest spots on the San Francisco foodie scene.</p>
			<a href="#list">See all 54 Restaurants</a>
		</div>
	</div>

	<% get_featured_restaurant %>
	<%= render 'featured_restaurant' if @featured_restaurant %>
	<!-- THIS IS WHERE I TOOK THE FEATURED RESTAURANT CODE FROM
</div>
