<div class="tip">
	<div class="user-image obj-rounded-image-wrapper">
		<img src="<%= image_tag t.user.image_url %>">
	</div>

	<div class="body">
		<p class="name-time"><%= t.user.first_name.upcase %><span><%= time_ago_in_words(t.created_at) %> ago</span></p>	
		<div class="body-text"><%= t.text %></div>					

		<% if current_user %>
		  <% if current_user.liked_tips.include?(t) %>
		    <%= link_to "<span></span>#{t.tip_likes.count}".html_safe, "/venues/#{t.venue.id}/tips/#{t.id}/remove_vote", class: "liked" %>	
		  <% else %>
		    <%= link_to "<span></span>#{t.tip_likes.count}".html_safe, "/venues/#{t.venue.id}/tips/#{t.id}/upvote", class: "like" %>
		  <% end %>	
		<% end %>
	</div>	
</div>