<div class="tip">
	<div class="user-image obj-rounded-image-wrapper">
		<%= image_tag t.user.image_url, :onerror => "this.src='/assets/avatar.png';" %>
	</div>

	<div class="body">
		<p class="name-time"><%= t.user.first_name.upcase %><span><%= time_ago_in_words(t.created_at) %> ago</span></p>	
		<div class="body-text"><%= t.text %></div>					

		<% if current_user %>
		  <% if current_user.liked_tips.include?(t) %>
		    <%= link_to "<span></span>#{t.tip_likes.count}".html_safe, "/venues/#{t.venue.id}/tips/#{t.id}/remove_vote", class: "vote liked", :"data-tip-id" => t.id, remote: true %>	
		  <% else %>
		    <%= link_to "<span></span>#{t.tip_likes.count}".html_safe, "/venues/#{t.venue.id}/tips/#{t.id}/upvote", class: "vote like", :"data-tip-id" => t.id, remote: true %>
		  <% end %>	
		<% end %>
	</div>	
</div>