<script src="http://maps.googleapis.com/maps/api/js?v=3&libraries=geometry&sensor=true" type="text/javascript"></script>

<!-- Search results google map, place google map within this -->

<% location = get_coordinates(params[:zip]) %>
<div id="search-results-map" class="search-results-map<%= ' empty' if collection.results.length == 0 %>" data-lat='<%= location[:lat] %>' data-lng='<%= location[:long] %>'>
</div>
<div class="search-results-bank">
	<div class="results-header">
		<p class="result-count"><%= pluralize(collection.results.count, "Result") %></p>
		<span class="results-filter-dropdown">
			<span class="filter-dropdown-value">Sort By</span>
			<span class="filter-dropdown-arrow"><i class="fa fa-angle-down"></i></span>
		</span>
	</div>
	<% if collection.results.length == 0 %>
		<h4 class="no-results">We couldn't find anything that matched your search =[</h4>
	<% end %>
	<% collection.results.each_with_index do |venue, index| %>
		<%= render 'search_result', venue: venue, index: index %>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		google.maps.event.addDomListener(window, 'load', function(){
			map = new Gmap(<%= raw @json %>);
		});
	})
</script>