<% provide(:title, " | #{resource.name.titlecase}") %>
<% provide(:meta_description, "Reviews, ratings, and photos for #{resource.name.titlecase} in #{resource.city} #{resource.state} on Crowdscore.") %>
<% provide(:meta_keywords, "#{resource.name} reviews, #{resource.name} #{resource.venue_category.name}, #{resource.venue_category.name} ratings") %>
<% content_for :fb_meta_tags do %>
  <meta property="og:type" content="<%= "#{ENV['FACEBOOK_APP_NAMESPACE']}:venue" %>" />
  <meta property="og:title" content="<%= resource.name %>" />
  <meta property="og:description" content="<%= "Have you been to #{resource.name} in #{resource.city}? Join Crowdscore to share your experience." %>" />
<% end %>

<script src="http://maps.googleapis.com/maps/api/js?v=3&libraries=geometry&sensor=true" type="text/javascript"></script>
	<% if resource.venue_images.length == 0 %>
	

<% end %>
<div class="r_venue">
	<div class="venue-header <%= "empty" if resource.venue_images.length == 0 %>">
		<div class="venue-header-body">
			<h1><%= resource.name.titlecase %></h1>
			<div class="action-bar">
				<div class="actions">
					<% if false %>
					<button class="share">share</button>
					<% end %>
					<button class="add-to-list" data-open-modal="add_to_list">add to list</button>
					<button class="add-photo" onclick="openImageUploader()">add a photo</button>
				</div>
			</div>

			<div class="venue-score-module">
				<div class="header">Overall Score</div>
				<%= render 'shared/pie_graph', type: "venue-score", score: resource.score, animate: true  %>
				<p class="score-count"><%= pluralize(resource.venue_scores.count, "score") %> submitted </p>
				<% if current_user && current_user.can_submit_score?(resource) || current_user.nil? %>
					<button class="submit-score submit-score-btn" id="submit-score-btn">Submit your score</button>
				<% else %>
					<button disabled class="submit-score submit-score-btn disabled" id="submit-score-btn">Already scored today</button>
				<% end %>
			</div>

			<div class="venue-details">
				<% if resource.venue_subcategory %>
				  <div class="attribute">
				  	  <div class="key">Cuisine</div>
				  	  <div class="value"><%= resource.venue_subcategory.name.presence || "N/A" %></div>
				  </div>
				<% else %>
				  <div class="attribute">
				  	  <div class="key">Venue Type</div>
				  	  <div class="value"><%= resource.venue_category.name.presence || "N/A" %></div>
				  </div>
				<% end %>

				<div class="attribute website">
					<div class="key">Website</div>
					<div class="value"><%= link_to "visit website", resource.url.presence, html_options = {target: "_blank"} || "N/A"  %></div>
				</div>

				<div class="attribute">
					<div class="key">Phone Number</div>
					<div class="value"><%= resource.phone.presence || "N/A"  %></div>
				</div>

				<div class="attribute hours <%= open_now? %>">
					<div class="key">Hours of Operation</div>
					<div class="value"><%= business_hours(resource) %></div>
				</div>
			</div>

			<div class="venue-scores <%= "empty" if resource.venue_images.length == 0 %>">
				<% resource.score_details.each do |score_id, details| %>
				
				 <div class="score" data-name="<%= details[:name] %>" data-score="<%= details[:value] %>">
				 	<%= details[:name] %>
				 	<div class="bar-graph">
				 		<div class="bar-graph-percent" style="width: <%= details[:value] %>%"></div>
				 	</div>
				 </div>
				<% end %>
				 
			</div>
		</div>

		<% if resource.venue_images.length != 0 %>
			<div class="venue-cover-image" style="background-image: url(<%= resource.venue_images.first.image_file %>)"></div>

		<% end %>
	</div>

	<div class="full-width-section map-section" data-resize='((pw-940)/2)+940', data-attr="width">
		<div id="venue-map" ></div>
		<div class="venue-map-details" data-resize='((pw-940)/2)', data-attr="left">
			<div class="info">
				Address
				<p class="street"><%= "#{resource.address1.presence}<br>#{resource.address2.presence}".html_safe %></p>
				<p class="city-state-zip"><%= "#{resource.city}, #{resource.state} #{resource.zip}" %></p>
				<%= link_to "get directions", "http://maps.google.com/maps?saddr=&daddr=#{resource.full_address}", target: "_new" %>
			</div>
		</div>
	</div>

	<div class="full-width-section tips-section p-clearfix <%= 'empty' if resource.tips == 0 %>" data-resize='((pw-940)/2)+940', data-attr="width">
		<div class="column-left">
			<div class="tip-count-info">
				<div class="count"><%= resource.tips.count.to_s.rjust(2, '0') %></div>
				<div class="label"><%= "Tip".pluralize(resource.tips.count) %></div>
			</div>
	  </div>

		<div class="column-center">
		<% if resource.tips.any? %>

			<% resource.tips.by_recent.take(5).each do |t| %>
		    <%= render :partial => "tip", :locals => { :t => t } %>
	    <% end %>

	    <% if resource.tips.length > 5 %>
		    <button class="show-more-tips">Show more tips</button>
	    <% end %>

			<% else %>

			<div class="tip-prompt p-clearfix">
				<div class="header">share a tip</div>
				<div class="user-image obj-rounded-image-wrapper">
					<%= image_tag current_user.image_url if current_user.present? %>
				</div>
				<%= form_for Tip.create, url: venue_tips_path(resource), remote: true do |f| %>
				<div class="tip-input">
	  			<%= f.text_area :text, id: "tip-input", onkeyup: "charCounter(this)", class: "text-bubble" ,placeholder: "Add a tip. What's good to know about #{resource.name.titlecase}?" %>
				</div>
			  <%= f.submit "SUBMIT YOUR TIP", class: "btn-submit-tip" %>
				<% end %> 
			</div>
	    <% end %>
	  </div>
		<div class="column-right">
			<% if resource.tips.any? %>
				<div class="tip-prompt p-clearfix">
					<div class="header">share a tip</div>

					<%= form_for Tip.create, url: venue_tips_path(resource), remote: true do |f| %>
					<div class="tip-input">
		  			<%= f.text_area :text, id: "tip-input", onkeyup: "charCounter(this)", class: "text-bubble", placeholder: "Add a tip. What's good to know about #{resource.name.titlecase}?" %>
					</div>
					<div class="user-image obj-rounded-image-wrapper">
						<%= image_tag current_user.image_url if current_user.present? %>
					</div>
				  <%= f.submit "SUBMIT YOUR TIP", class: "btn-submit-tip" %>
					<% end %> 
				</div>
			<% else %>
			<div class='blank-tip-header'>
	      <h2>Be the First to Share a Tip</h2>
	      <p class="description">
	        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem. Sed ut perspiciatis.
	      </p>
	    </div>
	    <% end %>
	  </div>
	</div>
	
	<% if resource.venue_subcategory %>
	  <% get_similar_nearby_venues(resource) %>
	  <%= render 'venues/recommendation_module', custom_class: "venue_page_recommendations" if @cards && @cards.size > 1 %>
    <% end %>

	<%= render "submit_score" %>
	<% if user_signed_in? %>  
	  <%= render "lists/add_venue", :venue_id => resource.id %>
	<% end %>


	<div id="image-upload-modal" class='modal'>
    <div class='modal-mask'>
      <div class='modal-content'>
        <div class='close-modal' onclick="closeModal()">+</div>
	      <div class="modal-vertical-center">
	        <div class="modal-centered-body">
	          <h1>Upload a photo</h1>
	          <p>Choose a file from your computer and we'll get it uploaded for ya!</p>
         	  <%= form_for VenueImage.create, url: venue_images_path(resource) do |f| %>
		          <%= f.file_field :image_file, :"data-value" => "" %>
		          <%= f.submit "Upload Photo" %>
		        <% end %>
	        </div>
	      </div>
      </div>
    </div>
  </div>

  
	<script type="text/javascript">
		$(document).ready(function(){
			google.maps.event.addDomListener(window, 'load', function(){
				map = new VenueMap(<%= raw @json %>);
			});
			
			var resize = $('*[data-resize]')
			setWidthPositions();

			$(window).resize(function(){
				setWidthPositions();
			})

			function setWidthPositions() {
				pw = $(window).width()
				pw = pw < 960 ? 960 : pw ;
				pw = pw > 1920 ? 1920 : pw ;
				resize.each(function(index, item){
					f = $(item).data('resize');
					$(item).css($(item).data('attr'), eval(f) + 'px')
				})
			}
		})

		function openImageUploader(){
			$( '#image-upload-modal' ).addClass("visible");
		}

		$( '#venue_image_image_file' ).change(function() {
			crumbs = this.value.split('\\');
      document.getElementById('venue_image_image_file').setAttribute("data-value", crumbs[crumbs.length - 1]);
    });

		function closeModal(){
			$('#image-upload-modal').removeClass('visible');
		}
	</script>	
</div>
