<% provide(:title, " | #{resource.name.titlecase}") %>
<% content_for :fb_meta_tags do %>
  <meta property="og:type" content="<%= "#{ENV['FACEBOOK_APP_NAMESPACE']}:venue" %>" />
  <meta property="og:title" content="<%= resource.name %>" />
  <meta property="og:description" content="<%= "Have you been to #{resource.name} in #{resource.city}? Join Crowdscore to share your experience." %>" />
<% end %>

<script src="http://maps.googleapis.com/maps/api/js?v=3&libraries=geometry&sensor=true" type="text/javascript"></script>

<div class="r_venue">
	<div class="venue-header <%= "empty" if resource.venue_images.length == 0 %>">
		<div class="venue-header-body">
			<h1><%= resource.name.titlecase %></h1>
			<div class="action-bar">
				<div class="actions">
					<button class="share">share</button>
					<button class="add-to-list" data-open-modal="add_to_list">add to list</button>
					<button class="add-photo" onclick="openImageUploader()">add a photo</button>
				</div>
			</div>

			<div class="venue-score-module">
				<div class="header">Overall Score</div>
				<%= render 'shared/pie_graph', type: "venue-score", score: resource.score, animate: true  %>
				<p class="score-count"><%= pluralize(resource.venue_scores.count, "score") %> submitted </p>
				<button class="submit-score submit-score-btn" id="submit-score-btn">Submit your score</button>
			</div>

			<div class="venue-details">
				<div class="attribute">
					<div class="key">Venue Type</div>
					<div class="value"><%= resource.venue_category.name.presence || "N/A" %></div>
				</div>

				<div class="attribute website">
					<div class="key">Website</div>
					<div class="value"><%= resource.url.presence || "N/A"  %></div>
				</div>

				<div class="attribute">
					<div class="key">Phone Number</div>
					<div class="value"><%= resource.phone.presence || "N/A"  %></div>
				</div>

				<div class="attribute hours <%= 'open' if true == true %>">
					<div class="key">Hours of Operation</div>
					<div class="value">9:00am - 10:00pm</div>
				</div>
			</div>

			<div class="venue-scores <%= "empty" if resource.venue_images.length == 0 %>">
				<div class="score" data-name="food" data-score="80">
					Food
					<div class="bar-graph">
						<div class="bar-graph-percent" style="width: <%= 80 %>%"></div>
					</div>
				</div>

				<div class="score" data-name="food" data-score="80">
					service
					<div class="bar-graph">
						<div class="bar-graph-percent" style="width: <%= 80 %>%"></div>
					</div>
				</div>

				<div class="score" data-name="food" data-score="80">
					value
					<div class="bar-graph">
						<div class="bar-graph-percent" style="width: <%= 80 %>%"></div>
					</div>
				</div>

				<div class="score" data-name="food" data-score="80">
					atmosphere
					<div class="bar-graph">
						<div class="bar-graph-percent" style="width: <%= 80 %>%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="full-width-section map-section" data-resize='((pw-940)/2)+940', data-attr="width">
		<div id="venue-map" ></div>
		<div class="venue-map-details" data-resize='((pw-940)/2)', data-attr="left">
			<div class="info">
				Address
				<p class="street"><%= "#{resource.address1.presence}<br>#{resource.address2.presence}".html_safe %></p>
				<p class="city-state-zip"><%= "#{resource.city}, #{resource.state} #{resource.zip}" %></p>
				<%= link_to "get directions", "http://maps.google.com/maps?saddr=&daddr=#{resource.full_address}", target: "_new" %>
			</div>
		</div>
	</div>

	<div class="full-width-section tips-section p-clearfix <%= 'empty' if resource.tips == 0 %>" data-resize='((pw-940)/2)+940', data-attr="width">
		<div class="column-left">
			<div class="tip-count-info">
				<div class="count"><%= resource.tips.count.to_s.rjust(2, '0') %></div>
				<div class="label"><%= "Tip".pluralize(resource.tips.count) %></div>
			</div>
	  </div>

		<div class="column-center">
		<% if resource.tips.any? %>

			<% resource.tips.by_recent.take(5).each do |t| %>
		    <%= render :partial => "tip", :locals => { :t => t } %>
	    <% end %>

	    <% if resource.tips.length > 5 %>
		    <button class="show-more-tips">Show more tips</button>
	    <% end %>

			<% else %>

			<div class="tip-prompt p-clearfix">
				<div class="header">share a tip</div>
				<div class="user-image obj-rounded-image-wrapper">
					<%= image_tag current_user.image_url if current_user.present? %>
				</div>
				<%= form_for Tip.create, url: venue_tips_path(resource) do |f| %>
				<div class="tip-input">
	  			<%= f.text_area :text, id: "tip-input", onkeyup: "charCounter(this)", class: "text-bubble", rows: "2", max: "20",placeholder: "Add a tip. What's good to know about #{resource.name.titlecase}?" %>
				</div>
			  <%= f.submit "SUBMIT YOUR TIP", class: "btn-submit-tip" %>
				<% end %> 
			</div>
	    <% end %>
	  </div>
		<div class="column-right">
			<% if resource.tips.any? %>
				<div class="tip-prompt p-clearfix">
					<div class="header">share a tip</div>

					<%= form_for Tip.create, url: venue_tips_path(resource), remote: true do |f| %>
					<div class="tip-input">
		  			<%= f.text_area :text, id: "tip-input", onkeyup: "charCounter(this)", class: "text-bubble", rows: "2", max: "20",placeholder: "Add a tip. What's good to know about #{resource.name.titlecase}?" %>
					</div>
					<div class="user-image obj-rounded-image-wrapper">
						<%= image_tag current_user.image_url if current_user.present? %>
					</div>
				  <%= f.submit "SUBMIT YOUR TIP", class: "btn-submit-tip" %>
					<% end %> 
				</div>
			<% else %>
			<div class='blank-tip-header'>
	      <h2>Be the First to Share a Tip</h2>
	      <p class="description">
	        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem. Sed ut perspiciatis.
	      </p>
	    </div>
	    <% end %>
	  </div>
	</div>
	
	<%= render 'user_dashboard/recommendation_module', custom_class: "venue_page_recommendations" %>

	<%= render "submit_score" %>
	<% if user_signed_in? %>  
	  <%= render "lists/add_venue", :venue_id => resource.id %>
	<% end %>


	<div id="image-upload-modal" class='full-screen-modal'>
    <div class='modal-mask'>
      <div class='modal-content'>
        <div class='close-modal' onclick="closeModal()">+</div>
        <%= form_for VenueImage.create, url: venue_images_path(resource) do |f| %>
          <%= f.file_field :image_file %>
          <%= f.text_field :caption %>
          <%= f.submit "Upload" %>
        <% end %>
      </div>
    </div>
  </div>

  
	<script type="text/javascript">
		$(document).ready(function(){
			google.maps.event.addDomListener(window, 'load', function(){
				map = new VenueMap(<%= raw @json %>);
			});
			
			var resize = $('*[data-resize]')
			setWidthPositions();

			$(window).resize(function(){
				setWidthPositions();
			})

			function setWidthPositions() {
				pw = $(window).width()
				pw = pw < 960 ? 960 : pw ;
				pw = pw > 1920 ? 1920 : pw ;
				resize.each(function(index, item){
					f = $(item).data('resize');
					$(item).css($(item).data('attr'), eval(f) + 'px')
					console.log(eval(f) + 'px')
				})
			}
		})

		function openImageUploader(){
			$( '#image-upload-modal' ).addClass("visible");
		}

		function closeModal(){
			$('#image-upload-modal').removeClass('visible');
		}
	</script>	
</div>
