<%= render 'admin/subnav' %>

<h1>Edit Venue Subcategory</h1>

<%= simple_form_for resource, :url => {:controller => "admin/venue_categories", :action => "update"} do |f| %>
  <%= f.input :name %>
  <p>Use caution updating the below information as it has cascading effects across the app</p>
  <%= f.association :venue_category, label_method: :name, value_method: :id %>
  <%= f.input :factual_category_id %>
  <%= f.button :submit %>
<% end %>