<div class="featured-module">
  <div class="image" style="background-image: url(<%= @featured_venue.featured_venue_image %>)">
  </div>

  <div class="info">
    <div class="body">
      <div class="score-container">
      <%= render 'shared/pie_graph', type: "dashboard-score", score: @featured_venue.venue.score, animate: true  %>
      </div>
      <h4><%= link_to @featured_venue.name, @featured_venue.venue %></h4>
      <p class="geo">
        <span><%= distance_to_featured_venue %></span>
        <span><%= @featured_venue.city %></span>
      </p>
      <p class="description">
        <%= @featured_venue.description %>
      </p>
    </div>
    
  </div>
</div>