<div class="featured-module">
  <div class="image" style="background-image: url(http://luxurybeaulieuhotel.com/wp-content/uploads/2012/07/MT018-matt-tomkinson_david-griffen-photography_1643-6695.jpg)">
  </div>

  <div class="info">
    <div class="body">
      <div class="score-container">
      <%= render 'shared/pie_graph', type: "dashboard-score", score: @featured_venue.venue.score, animate: true  %>
      </div>
      <h4><%= @featured_venue.name %></h4>
      <p class="geo">
        <span><%= distance_to_featured_venue %></span>
        <span><%= @featured_venue.city %></span>
      </p>
      <p class="description">
        <%= @featured_venue.description %>
      </p>
    </div>
    
  </div>
</div>