<% provide(:module_type, "cuisine_recommendations") %>

<% get_restaurant_recommendations(current_user) unless @cards %>
<% unless @cards.empty? %>

<!-- USER DASHBOARD PAGE RECOMMENDATION PARTIAL -->
<% custom_class = custom_class || "" %>
<div class='recommendation-module<%= " #{custom_class}" %>'>
  <div class='recommendation-module-body'>
    
    <div class="module-left"></div>
    <div class="module-right"></div>

    <div class='recommendation-header'>
      <h2><%= module_header( yield :module_type) %></h2>
      <p class="description"><%= module_copy( yield :module_type) %></p>
    </div>

    <!-- START DYNAMIC RECOMMENDATION CARDS -->
    
    <div class="recommendation-module-cards">
    <% @cards.each do |venue| %>
        <div class='recommendation-card empty'>
          <div class="score-container">
            <%= render 'shared/pie_graph', type: "dashboard-score", score: venue.score, animate: true  %>
          </div>
	  
          <div class="stats">
            <span><%= pluralize(venue.venue_scores.count, "score") %></span>
            <span><%= pluralize(venue.tips.count, "tip") %></span>
          </div>
	  
          <div class="info">
            <h4><%= link_to truncate(venue.name, length: 24, omission: '...'), venue %></h4>
            <p>
              <span><%= "#{distance_from_user(venue)} miles" %></span>
              <span><%= venue.city %></span>
            </p>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

<% end %>