<% provide(:module_type, "cuisine_recommendations") %>
<div class='r_dashboard'>
  <h1><%= dashboard_salutation %></h1>
  <% get_featured_venue %>
  <h3><%= @featured_venue.name %></h3>

  <% get_restaurant_recommendations(current_user) %>
  <%= render 'recommendation_module' unless @cards.empty? %>
  <%= render 'featured_venue' %>



  <!-- Start User Module -->
  <section id="user">
    <div class="user-follower">
      <h3><%= current_user.followers.count %></h3>
      <p>FOLLOWER<% if current_user.followers.count == 0 || current_user.followers.count > 1 %>S<% end %></p>
    </div>

    <div class="user-profile-image">
      <%= image_tag '6df1b47ff48b7258264ec5fe9daf8e7e (1).jpeg' %>
      <%# image_tag current_user.image.to_s %>
    </div>
    
    <div class="user-following">
      <h3><%= current_user.follows.count %></h3>
      <p>FOLLOWING</p>
    </div>

    <!-- <div class="invitations-container">
      <p>Invite your friends to Crowdscore
      </p>
      <span class="angle-right"><i class="icon-angle-right"></i></span>
      <%= link_to "", new_user_invitation_path %>
    </div> -->
  </section>
  <!-- End User Module -->


  <section id="crowdfeed">
    <h2>Your Crowdfeed</h2>
    <%= render 'crowdfeed_cards' %>
  </section>

</div>
<!-- 

  <%= debug current_meal %>
  <%= debug time_at_user %>
  <%= debug current_user.liked_venue_categories["restuarant"] %>
  <div id="dashboard-recommendations-container">
  <% if user_time_zone && user_location_data %>
  <% end %>
  </div>  
  <%= session[:geo_location] %>
  <%= cookies[:geo_session] %>
   -->
  

  </div>

  


</div>