<% unless current_user.onboarded? %>
<%= render "onboard" %>
<div class="hidden-dashboard">
<% end %>

<div class='r_dashboard'>
  <h1><%= dashboard_salutation %></h1>

  <div id="dashboard-recommendations-container">
  </div>

  <% get_featured_venue %>
  <%= render 'featured_venue' if @featured_venue %>

  <!-- Start User Module -->
  <section id="user">
    <div class="user-follower">
      <h3><%= current_user.followers.count %></h3>
      <p>FOLLOWER<% if current_user.followers.count == 0 || current_user.followers.count > 1 %>S<% end %></p>
    </div>

    <div class="user-profile-image">
      <%= image_tag current_user.image.to_s %>
    </div>
    
    <div class="user-following">
      <h3><%= current_user.follows.count %></h3>
      <p>FOLLOWING</p>
    </div>

  </section>
  <!-- End User Module -->

  <% if not current_user.network_activity.empty? %>
  <section id="crowdfeed">
    <h2>Your Crowdfeed</h2>
    <%= render 'crowdfeed_cards' %>
  </section>
  <% end %>  

</div>

<% if @onboard %>
</div>
<% end %>