<%= render 'admin/subnav' %>

<h1>Create a new venue tag </h1>

<%= simple_form_for resource, :url => {:controller => "venue_tags", :action => "create"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  
  <%= f.association :venue_tag_category, as: :select, label_method: :name, value_method: :id %><br>
  
  <%= f.button :submit, "submit" %>
<% end %>