<footer>
	<div class="footer-section footer-left">
		<p class="footer-header">register for an account</p><br>
		<p class="footer-info">Signing up for an account allows you to post content, follow people, and mostly importantly createst a taste profile that helps us find the best places to recommend for you.</p>
		<div class="footer-link cs-h-nav-link-with-arrow">
			<a href="">Create your account 
				<%= image_tag 'cs_nav_arrow.png', width: 17, height: 8 %>
			</a>
		</div>
	</div>

	<div class="footer-section footer-center">
		<ul class="footer-social-wrapper">
			<li class="footer-social footer-facebook"><a href="http://facebook.com/CrowdScore"><%= image_tag 'footer-icon-facebook.png', width: 9, height: 17 %>Facebook</a></li>
			<li class="footer-social footer-twitter"><a href="http://twitter.com/crowdscoreapp"><%= image_tag 'footer-icon-twitter.png', width: 20, height: 17 %>Twitter</a></li>
			<li class="footer-social footer-google"><a href="http://google.com/+Crowdscoreapp"><%= image_tag 'footer-icon-google.png', width: 19, height: 19 %>Google</a></li>
		</ul>
	</div>

	<div class="footer-section footer-right">
		<p class="footer-header">about the company</p><br>
		<p class="footer-info">Our mission is to deliver an experience that makes it easy to find new places to try, share your experiences, and connect with local businesses.</p>
		<div class="footer-link cs-h-nav-link-with-arrow">
			<a href="">Learn more
				<%= image_tag 'cs_nav_arrow.png', width: 17, height: 8 %>
			</a>
		</div>
	</div>
	
	<% if current_user %>
		<div id="cu" data-id="<%= current_user.id %>"></div>
	<% end %>

	<p class="footer-copyright">&copy; 2014 Crowdscore labs inC. - <%= link_to "see all our venues", venues_path %></p>
</footer>
