<footer>
	<div class="footer-section footer-left">
		<p class="footer-header">register for an account</p>
		<p class="footer-info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
		<div class="footer-link cs-h-nav-link-with-arrow">
			<a href="">Create your account 
				<%= image_tag 'cs_nav_arrow.png', width: 17, height: 8 %>
			</a>
		</div>
	</div>

	<div class="footer-section footer-center">
		<ul class="footer-social-wrapper">
			<li class="footer-social footer-facebook"><a href=""><%= image_tag 'footer-icon-facebook.png', width: 9, height: 17 %>Facebook</a></li>
			<li class="footer-social footer-twitter"><a href=""><%= image_tag 'footer-icon-twitter.png', width: 20, height: 17 %>Twitter</a></li>
			<li class="footer-social footer-google"><a href=""><%= image_tag 'footer-icon-google.png', width: 19, height: 19 %>Google</a></li>
		</ul>
	</div>

	<div class="footer-section footer-right">
		<p class="footer-header">about the company</p>
		<p class="footer-info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudantium, totam rem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
		<div class="footer-link cs-h-nav-link-with-arrow">
			<a href="">Learn more
				<%= image_tag 'cs_nav_arrow.png', width: 17, height: 8 %>
			</a>
		</div>
	</div>

	<p class="footer-copyright">&copy; 2014 Crowdscore labs inC. - <%= link_to "see all our venues", venues_path %></p>
</footer>
