<div class="cs-h">
	<div class="cs-h-inner">
		<div class="cs-h-main">
			<%= link_to root_path do %>
				<%= image_tag 'cs_nav_logo.png', class: "cs-h-logo", width: 24, height: 28 %>
				<h1 class="cs-h-brand">crowdscore</h1>
			<% end %>

			<ul class="cs-h-nav">
				<% if user_signed_in? %>
					<li class="cs-h-user-nav">
						<div class="obj-rounded-image-wrapper">
							<img src="http://i853.photobucket.com/albums/ab94/AutumnInsanity/Splatt/Yearbook/Mowgli.jpg">
						</div>
						<ul class="cs-h-user-dropdown" >
				      <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
				      <li><%= link_to "View My Lists", lists_path %></li>
				      <li><%= link_to "My Profile", user_path(current_user) %></li>
				      <li><%= link_to "My Account", edit_user_registration_path %></li>
				    </ul>
					</li>
					<li class="cs-h-nav-greeting">
						Hello, <%= current_user.first_name %>
					</li>
				<% else %>
					<li class="cs-h-nav-link">
						<a id="login-button">log in</a>
					</li>
					
					<li class="cs-h-nav-link  cs-h-nav-register">
						<a id="register">register 
							<%= image_tag 'cs_nav_arrow.png', width: 17, height: 8 %>
						</a>
					</li>
				<% end %>
			</ul>

			<%= image_tag 'cs_header_search.png', class: "cs-h-search-img", width: 24, height: 24 %>
		</div>

		<div class="cs-h-search-trigger">
			<div class="cs-h-search-lever"></div>
		</div>

		<div class="cs-h-search">
			<input type="text" id="cs-h-search-input" placeholder="Type something in that you want like sneakers...">
			<button class="cs-h-search-location">
				<%= image_tag 'cs_header_location.png', width: 15, height: 21 %>
			</button>
		</div>
		
	</div>
</div>



<% if user_signed_in? %>
  <li>
    <%= link_to "Account", dashboard_path, class: "menu" %>
    <ul>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
        <%= link_to "View My Lists", lists_path %>
        <%= link_to "My Profile", user_path(current_user) %>
        <%= link_to "My Account", edit_user_registration_path %>
      </li>
    </ul>
  </li>
<% else %>  
  <li><%= link_to "Sign in", new_user_session_path, :class => '', :"data-controls-modal" => "sign-in-modal", :"data-backdrop" => "true" %></li>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
<% end %>
<%= link_to "Sign out", destroy_user_session_path, method: "delete" %>