<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
  <head>
    <title><%= "Crowdscore #{yield(:title)}" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= csrf_meta_tags %>
  </head>
  <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
  </script>
  
  <script type="text/javascript">
  function signinCallback(authResult) {
  if (authResult['access_token']) {
    // Successfully authorized
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
    alert("this worked!");
  } else if (authResult['error']) {
    // There was an error.
    // Possible error codes:
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    // console.log('There was an error: ' + authResult['error']);
  }
}
  </script>
  
  
  <body>
    <section class="full-body-container">    
      <nav>
        <div class="navbar-inner">
          <ul>
            <li><a id="register" href="#">register</a></li>
            <li><a href="#" id="login-button">log in</a></li>
          </ul>
        </div>
      </nav>

      <div class='searchbar-placeholder'></div>
      <div class='searchbar'>
        <div class="searchbar-inner">
          <a class="brand" href="#"></a>
          <%= form_tag search_venues_path, method: :get, id: 'search' do |f| %>
            <%= text_field_tag :q, '', placeholder: "try coffee, hotel, etc", class: 'search-input' %>
            <div class='search-input-fade'></div>
            <%= text_field_tag :zip, '', placeholder: "city & state or zip", class: 'location-input'%>
            <%= submit_tag "Find it!", style: 'display: none' %>
            <%= hidden_field_tag :latitude, '' %>
            <%= hidden_field_tag :longitude, '' %>
            <input type='button' class="close" id="exit-location">
            <input type='button' class="edit" id="edit-location">
          <% end %>
        </div>
      </div>
      
      <!-- BEGIN FLASH MESSAGES SECTION -->
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
      <!-- END FLASH MESSAGES SECTION -->

      <div class="floater">
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= link_to "Account", "#", class: "menu" %>
              <ul>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                  <%= link_to "View My Lists", lists_path %>
                  <%= link_to "My Profile", user_path(current_user) %>
                  <%= link_to "My Account", edit_user_registration_path %>
                </li>
              </ul>
            </li>
          <% else %>  
            <li><%= link_to "Sign in", new_user_session_path, :class => '', :"data-controls-modal" => "sign-in-modal", :"data-backdrop" => "true" %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
          <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
        </ul>
      </div>

      <%= yield %>
      <!--
      
      
      <footer>
        Copyright &copy; 2013 Crowdscore. All rights reserved.
      </footer>
      
      -->
      
      
    </section>
    <svg>
      <filter id="blur">
        <feGaussianBlur stdDeviation="15"></feGaussianBlur>
      </filter>
    </svg>
<!-- 
    <div id="auth-modal" class='full-screen-modal'>
      <div class='modal-mask'>
        <div class='modal-content'>
          <div class='close-modal'>+</div>
        </div>
      </div>
    </div> -->


<div id="placeholder-modal" class="tmp-modal">
</div>

<div id="register-modal" class="modal">
  <div class="modal-mask">
    <div class="modal-content download-app">
      <div class="close-modal">+</div>
      <div class="modal-vertical-center">
        <div class="left-rail">
          <h1>Register</h1>
          <p>Fill out the quick info below and we’ll set up your account. You can finish filling out your profile later. Already a member? <%= link_to "Sign in", "#", class: "button-show-login-modal" %></p>
          <%= link_to(user_omniauth_authorize_path(:facebook), class: "modal-facebook-signup-button") do %>
            <i class="icon-facebook"></i><div>REGISTER WITH FACEBOOK</div>
          <% end %>
        </div>
        <div class="right-rail">
          <%= form_for devise_resource, as: resource_name, url: registration_path(resource_name), html: { class: 'registration-modal-form' } do |f| %>
            <div class="registration-modal-form-field full">
              <%= f.label :email, "email address", class: "" %>
              <%= f.text_field :email, class: "", size: "30" %>
            </div>
            <div class="registration-modal-form-field half">
              <%= f.label :first_name, class: "" %>
              <%= f.text_field :first_name, size: "30", class: "" %>
            </div>
            <div class="registration-modal-form-field half">
              <%= f.label :password, class: "" %>
              <%= f.password_field :password, class: "", size: "30" %>
            </div>
            <div class="registration-modal-form-field half">
              <%= f.label :username, "Choose your username" , class: "" %>
              <%= f.text_field :username, class: "", size: "30", :disabled => f.object.persisted? %>
            </div>
            <div class="registration-modal-form-field half">
              <%= f.label :password_confirmation, "confirm password", class: "" %>
              <%= f.password_field :password_confirmation, class: "", size: "30" %>
            </div>
            <%= f.submit "CREATE YOUR ACCOUNT", class: "registration-modal-submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="login-modal" class="modal">
  <div class="modal-mask">
    <div class="modal-content download-app">
      <div class="close-modal">+</div>
      <div class="modal-vertical-center">
        <div class="modal-centered-body">
          <h1>Sign in</h1>
          <%= link_to(user_omniauth_authorize_path(:facebook), class: "modal-facebook-signin-button") do %>
            <i class="icon-facebook"></i><div>SIGN IN WITH FACEBOOK</div>
          <% end %><br>
          <%= form_for devise_resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-modal-form' } do |f| %>
            <div class="registration-modal-form-field">
              <%= f.label :email, "email address", class: "" %>
              <%= f.text_field :email, class: "" %>
            </div>
            <div class="registration-modal-form-field password">
              <%= f.label :password, class: "" %>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
            <%= f.submit "Sign in", class: "registration-modal-submit-button" %>
          <% end %>

          <p> Not a member yet? <%= link_to "Join Crowdscore", "#", class: "button-show-register-modal" %></p>
        </div>
      </div>
    </div>
  </div>
</div>


    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
    <script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/QKme0uQF5KF0iFN17AsfQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#02b8ea',
  trigger_color: 'white',
  trigger_background_color: '#02b8ea'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  
  <% if current_user %>
    email:      '<%= current_user.email %>', // User?s email address
  <% end %>
  <% if current_user %>
    name:       '<%= current_user.first_name %>', // User?s real name
  <% end %>
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
    
    <!-- COMMENT OUT OLD USERVOICE WIDGET CODE
    
    <script>
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/0MsUmqbikVAbKrdEYidA.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
          })();
    </script>
    
    -->
    
    <script>
      var locationActive = 0;
      var searchActive = 0;
      var scrollSearch = 0;

      // Represents the faded div at the end of the search input
      // When clicked, focus on the search field
      $('.search-input-fade').click(function(){
        $('.search-input').focus();
      });

      // On focus, trigger animation to place search bar in active state
      $('.search-input').focus(function() {
        $('a.brand').addClass('invisible');
        $('.search-input').addClass('search-input-active');
        if (!scrollSearch)
          searchActive = 1;
        if (!locationActive){
          $('.edit').click();  
        }
      });

      // Place the searchbar into its inactive state
      $('.close').click(function(){

        // variable animation time for placing location input into active state
        var timer = searchActive ? 250 : 125;
        if (searchActive == 3) timer = 0;
        
        // Remove classes to place searchbar into inactive state
        $('a.brand').removeClass('invisible');
        $('.search-input').removeClass('search-input-active');
        $('.location-input').fadeTo(timer, 0, function(){
          var $this = $(this);
          $this.removeClass('location-input-active');
          $this.removeClass('location-symbol-active');
          $this.stop(true, true).fadeTo(timer, 1);
          locationActive = 0;
          searchActive = 0;
        });

        // swap close and edit buttons
        $('.close').stop(true, true).fadeOut(500, function(){
        $('.edit').stop(true, true).fadeIn(500);
        });

      });

      // On location focus, transition into location input active state
      $('.location-input').focus(function(){
        $('.edit').click();
        locationActive = 1;
      });

      // Place the searchbar into its inactive state
      $('.edit').click(function(){

        // variable animation time for placing location input into active state
        var timer = searchActive ? 250 : 125;
        if (searchActive == 3) timer = 0;
        
        // Add classes to place searchbar into active state
        $('.location-input').fadeTo(timer, 0, function(){
          var $this = $(this);
          $this.addClass('location-input-active'); 
          $this.addClass('location-symbol-active');
          $this.stop(true, true).fadeTo(timer, 1);  
          locationActive = 1;
        });

        $('.edit').stop(true, true).fadeOut(timer, function(){
        $('.close').stop(true, true).fadeIn(timer);
        });

      });

      function slideDelay(){
        setTimeout(function(){
          if (!scrollSearch){
            $('.searchbar').addClass('search-bar-fixed-negpos');
            scrollSearch = 1; 
            $('.search-input').blur();
          }
        },50);
      }

      $(document).ready(function() {

        // Remove classes to place searchbar into inactive state  
        var s = $('div.searchbar'); 
        var pos = s.position();   

        // Handle search bar on scroll listener             
        $(window).scroll(function() {

            // Get the scroll distance from top of page
            var windowpos = $(window).scrollTop();

            // If the searchbar is no longer visible, handle the fixed scroll bar animation
            if (windowpos >= 120) {
              if (!scrollSearch){
                $('.searchbar-placeholder').addClass('searchbar-place-holder')
                $('.brand').addClass('brand-scroll').css('width', 0);

                $('.search-input').addClass('search-input-scroll');
                $('.search-input').focus();
                $('.searchbar').addClass('search-bar-top');
                slideDelay();
              }
            windowpos
            } else {
              if (windowpos <= 30){
                if (scrollSearch){
                  $('.searchbar-placeholder').removeClass('searchbar-place-holder')
                  $('.brand').css('width', '205px').removeClass('brand-scroll');
                  
                  $('.search-input').removeClass('search-input-scroll');
                  $('.close').click();
                  $('.searchbar').removeClass('search-bar-fixed-negpos'); 
                  $('.searchbar').removeClass('search-bar-top'); 
                  scrollSearch = 0;
                }
              }
            }
        });
      });

      $(document).ready(function() {
        $( "#login-button" ).click(function() {
          $( '#auth-modal' ).addClass("visible");
          //$('.full-body-container').addClass('blurry');
          //$('.full-body-container').css('filter','url("#blur")');
        });

        $('.close-modal').click(function(){
          $("#auth-modal").removeClass("visible");
          //$('.full-body-container').removeClass('blurry');
          //$('.full-body-container').css('filter','none');
        });
      });

      $(document).keyup(function(e) {
        if (e.keyCode == 27) { 
          $('.full-screen-modal').removeClass('visible');
          //$('.full-body-container').removeClass('blurry');
          //$('.full-body-container').css('filter','none');
        }
      });


      $('#submit-score-btn').click(function(){
        $( '#submit-score-modal' ).addClass("visible");
        //$('.full-body-container').addClass('blurry');
        //$('.full-body-container').css('filter','url("#blur")');
      });


        $('.close-modal').click(function(){
          $("#auth-modal").removeClass("visible");
          //$('.full-body-container').removeClass('blurry');
          //$('.full-body-container').css('filter','none');
        });
    </script>

  </body>
</html>
